/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  display: flex;
}
p {
  color: #fff;
}
button {
  border: none;
  background: none;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.table {
  z-index: 99;
}
.btn {
  cursor: pointer;
  z-index: 99;
}
/* banner */
.input__group {
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, #8942a8, #ba382f);
}
.banner {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, #8942a8, #ba382f);
}
.main-cart {
  position: absolute;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  align-self: center;
  align-items: center;
}
.card {
  position: relative;
  flex-shrink: 0;
  height: 300px;
  width: 200px;
  background-color: #010101;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 7px 5px -5px #4d4b4b;
  transition: 0.5s;
}
.top-bar {
  transform: translateY(0.5rem);
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1rem;
}
.top-bar .fa-apple {
  font-size: 1.5rem;
  color: #fff;
}
.top-bar .stocks {
  font-size: 0.8rem;
  color: lightgreen;
}
.card .img-container {
  position: absolute;
  height: 185px;
  width: 185px;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: translateY(35px);
}
.card .img-container img {
  width: 100%;
  align-self: center;
}

.card .details {
  position: absolute;
  height: 300px;
  width: 100%;
  background-color: #2e2f33;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  bottom: -189px;
  transition: 0.25s;
  color: #fff;
}
.main-cart .card:hover {
  height: 500px;
  width: 260px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.main-cart .card:hover .details {
  bottom: 0;
}

.main-cart .card:hover .wrapper {
  display: block;
}
.card .details .name-fav {
  justify-content: space-between;
}
.card .details .name-fav strong {
  font-weight: 600;
}
.card .details .wrapper {
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(5px);
  display: block;
}
.details .wrapper p {
  font-size: 0.9rem;
  padding: 5px 0;
  font-weight: light;
  color: #fff;
}
.card .details .pruchase {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.card .details .pruchase p {
  font-weight: 500;
  color: #fff;
}
.details .pruchase .add-btn {
  border-radius: 20px;
  border: 1px solid white;
  background: none;
  color: white;
  padding: 6px 10px;
}
.card .details .purchase {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card .details .purchase p {
  font-weight: 500;
}

.details .purchase .add-btn {
  border-radius: 20px;
  border: 1px solid white;
  background: none;
  color: white;
  padding: 6px 10px;
}

.details .purchase .add-btn:hover {
  background: white;
  color: black;
}
.wrapper p {
  text-align: left;
  justify-content: center;
}
.side-nav {
  position: absolute;
  background: #010101;
  opacity: 0.95;
  height: 100%;
  width: 60%;
  flex-direction: column;
  top: 0;
  z-index: 10;
  overflow: hidden;
  transition: 0.5s;
  display: block;
}

.side-nav .fa-times {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.5rem;
}

.side-nav h2 {
  align-self: center;
  transform: translateY(1rem);
  font-size: 2rem;
  font-weight: 600;
}

.side-nav .cart-items {
  position: absolute;
  width: 90%;
  margin: 0 5%;
  height: 50%;
  top: 10%;
  flex-direction: column;
}

.side-nav .cart-items .empty-cart {
  margin: auto 0;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
}

.side-nav .cart-items .cart-item {
  height: 5rem;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid whitesmoke;
}

.side-nav .cart-items .cart-item:hover {
  background: rgba(255, 255, 255, 0.25);
}

.side-nav .cart-items .cart-item .cart-img {
  width: 5rem;
  height: 5rem;
  justify-content: center;
}

.side-nav .cart-items .cart-item .cart-img img {
  width: 100%;
  align-self: center;
}

.side-nav .final {
  position: absolute;
  align-self: flex-end;
  flex-direction: column;
  bottom: 10%;
}

.side-nav .final strong {
  align-self: flex-end;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 1rem;
}

.side-nav .final .action {
  justify-content: space-evenly;
}

.side-nav .final .action .btn {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: 1px solid white;
  margin-right: 20px;
  border-radius: 10px;
}
